@media(max-width: 670px){
    body{
        background-image: url(jpgfinancial_background_mobile.jpg);
    }

    header{
        max-width: 100%;
    }
    footer{
        max-width: 100%;
    }

    .imput-container{
        display: flex;
        flex-direction: column;
    }

    .result{
        display: flex;
        border: 1px solid white;
        margin: 5%; 

        background-color: wheat;
        padding: 3px;

        width: 150px;
        justify-content: center;

        
        

        align-items: center;

        
    }
}
